# LaTeX build and lint files
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.out
*.pdf
*.toc
report.html

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
